body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
  border: none;
}

.logo img {
  width: 90px;
}

#main {
  width: 100%;
  height: 768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/banner.png');
  position: relative;
  z-index: 0;
}